extends layout

block content
  img(src="/images/CoverIMG.png", style="margin:auto; justify-content:center;")
  .wrapper 
    h1 Newbies Game Jam 
  .wrapper 
    span(style="font-size:20px;" class="wrapper-text numOfPeople")
      |Check out our latest
      a(style="margin-right: 5px;", class=".author", href="/" + latestJamDir)
        |Game Jam
      |and 
      a(class="author" href="/" + latestJamDir + "/results")
        |Theme Results!
    span(style="position: absolute; bottom: 5px; right: 40%;" class="wrapper wrapper-text") 
      |Game Jam Hosted by 
      a(class="author" href="https://kosmotion.itch.io/" target="_blank")
        |kosmotion
