extends ../layout

block content
    .wrapper
        h1 Theme Results
        span.wrapper-text.numOfPeople
            | Game Jam hosted by 
            a(class="author" href="https://kosmotion.itch.io/" target="_blank")
                | kosmotion
    .radio-group
        input(type="radio" name="filter" value="sorted" id="sorted" checked)
        label(class="radio-label" for="sorted")
            |Sorted
        
        input(type="radio" name="filter" value="most_voted" id="most_voted")
        label(class="radio-label" for="most_voted")
            |Most Voted
    ul#voteList
    script(src="/javascripts/votes.js")